@import "../variables/variaveis.css";

:root{
  --bg: #f2f0ec;
  --verde: #556b5f;
  --text: #222;
  --width: 50%;
  --padding: 24px;
}

.colecao-grid {
  padding: var(--padding);
  width: var(--width);
  height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

/* Base dos cards */

.colecao-grid .grid-item{
  position: relative;
  overflow: hidden;
  background: #e6e1d8;
  height: 100%;
}

.colecao-grid .grid-item .img-grid{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.colecao-grid .item-1{
  position: relative;
  display: flex;
  flex-direction: column;
}

.colecao-grid .item-1-title{
  font-family: var(--font-title);
  font-size: 26px;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 50px;
}

.colecao-grid .item-1 p{
  font-family: var(--font-paragraph);
  font-size: 20px;
}

.colecao-grid .item-1 .tecido-description{
  position: absolute;
  left: 15px;
  top: 120px;
  background-color: rgba(76, 89, 77, 0.91);
  border-radius: 10px;
  padding: 15px;
  display: none;
  color: #FFFFFF;
}

.colecao-grid .item-2{
  display: grid;
  grid-column: 2;
  grid-row: 1 / span 2;
  position: relative;
}

.colecao-grid .item-2-description{
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(76, 89, 77, 0.71);
  color: #FFFFFF;

  position: absolute;
  top: 30px;
  left: 15px;
  width: 90%;
  height: 226px;
  gap: 10px;
}

.colecao-grid .item-2-description h2{
  font-family: var(--font-title);
  font-size: 20px;
  margin-top: 10px;
}

.colecao-grid .item-2-description p{
  font-family: var(--font-paragraph);
  font-size: 14px;
}

.colecao-grid .item-3 .tecido-description{
  position: absolute;
  font-size: 18px;
  padding-top: 5px;
  top: 10px;
  color: #000000;
}

.colecao-grid .item-3{
  font-family: var(--font-paragraph);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
}

.colecao-grid .item-3 h2{
  font-size: 22px;
  margin-top: 40px;
  font-weight: 600;
}

.colecao-grid .item-3 .spec-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size: 12px;
}

.spec-row span:nth-child(1){
  font-weight: 600;
}

/* Responsivo */

@media (max-width: 900px){

  .colecao-grid{
    width: 100%;
    height: auto;
    padding: 16px;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  /* Reset total de posicionamentos */
  .colecao-grid > *{
    grid-column: auto !important;
    grid-row: auto !important;
    position: relative;
  }

  /* Item 1 */
  .colecao-grid .item-1-title{
    font-size: 26px;
    left: 40px;
    top: 10px;
  }

  /* Item 3 */
  .colecao-grid .item-3{
    padding: 24px;
  }

  .colecao-grid .item-3 h2{
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    padding-bottom: 30px;
  }

  .colecao-grid .item-3 .spec-row{
    font-size: 18px;
  }

  .colecao-grid .item-1 .tecido-description{
    display: flex;
    left: 0;
    background-color: rgba(76, 89, 77, 0.61);
  }

  .colecao-grid .item-1 p{
    font-size: 18px;
  }

  .colecao-grid .item-3 .tecido-description{
    display: none;
  }

  .colecao-grid .item-2-description{
    position: absolute;
    padding: 20px;
    width: 300px;
    height: 250px;
    top: 10px;
    left: 26px;
    background-color: rgba(76, 89, 77, 0.61);
  }

  .colecao-grid .item-2-description h2{
    font-size: 24px;
  }

  .colecao-grid .item-2-description p{
    font-size: 18px;
  }
}