@import "../variables/variaveis.css";

.grid-1x5{
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

@media (max-width: 768px){
  .grid-1x5{
    grid-template-columns: 1fr 1fr;
  }
}