.title{
  font-size: 32px;
  text-align: center;
  margin-top: -60px;
}

.cert-carousel{
  width:50vw;
  margin: 0 auto;
  display:flex;
  align-items:center;
  position:relative;
  overflow:hidden;
  padding:40px 0;
}

.cert-track{
  display:flex;
  gap:30px;
  transition: transform .4s ease;
}

.cert-card{
  width:140px;
  height:100px;
  padding-block: 20px;
  background-color: #fff;
  border-radius:8px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  box-shadow:0 5px 15px rgba(0,0,0,.08);
  flex-shrink:0;
}

.cert-card img{
  max-width:80%;
  max-height:70%;
  object-fit:contain;
}

.cert-btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background-color: rgba(76, 89, 77, 0.91);
  color:#fff;
  border:none;
  width:40px;
  height:40px;
  font-size: 16px;
  border-radius:50%;
  cursor:pointer;
}

.prev{
  left:20px;
  z-index: 3;
}

.next{
  right:20px;
  z-index: 3;
}

/* Responsivo */
@media (max-width: 768px){

  .title{
    font-size: 26px;
  }

  .cert-carousel{
    width:100vw;
  }
}